body {
    font-family: 'COURIER NEW', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3e6;
}

a {
    text-decoration: none;
}

header {
    padding: 10px 50px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between; /* Разделяем элементы */
    align-items: center; /* Центрируем по вертикали */
}

.brand {
    font-size: 3em;
    font-weight: bold;
    color: #fff3e6;
    margin: 0;
    text-align: left;
    line-height: 0.9; /* Контролируем расстояние между строками */
}

.brand-top, .brand-bottom {
    display: block; /* Размещаем каждый span на отдельной строке */
}

.menu {
    font-size: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Располагаем элементы меню в одну строку */
}

.menu li {
    padding: 7px;
    margin: 0 15px;
    position: relative;
}

.menu a, .menu li {
    text-decoration: none;
    color: #fff3e6;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d7b592;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
}

.menu li:hover a {
    color: #d7b592;
    transform: scale(1.1);
}

.menu li:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.menu a.action-button {
    color: white; /* Цвет текста */
    background-color: transparent; /* Цвет фона, если нужно */
    padding: 10px; /* Отступы */
    font-size: 1em;
    border: none; /* Уберите рамки, если есть */
    cursor: pointer; /* Указатель при наведении */
    transition: color 0.3s ease, transform 0.3s ease;
}

footer {
    color: white;
    text-align: center;
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.hero-section {
    background-image: url('img/bg.jpg'); /* Замените на путь к вашей фотографии */
    background-size: cover; /* Изображение охватывает весь экран */
    background-position: center; /* Центрируем изображение */
    height: 100vh; /* Высота в 100% от высоты экрана */
    display: flex;
    flex-direction: column;
    color: white; /* Цвет текста */
    text-align: center;
    position: relative; /* Для корректного позиционирования контента */
    z-index: 1;
}

/* Затемнение фона для улучшения читаемости текста */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон */
    z-index: -1;
}

.call-to-action {
    margin-top: 40vh;
    margin-left: 60px;
    text-align: left; /* Изменено на center для лучшего отображения на мобильных */
    color: white;
}

.text-center {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2; /* Контролируем расстояние между строками */
}

.text-center-top, .text-center-bottom {
    display: block; /* Размещаем каждый span на отдельной строке */
}

.order-link {
    font-size: 3em;
    color: white;
    position: relative;
    text-decoration: none; /* Убираем стандартное подчеркивание */
}

.order-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Расположение линии под текстом */
    width: 100%;
    height: 2px;
    background-color: white; /* Цвет линии */
}

.order-link:hover {
    color: #b0815d; /* Цвет ссылки при наведении */
}

.gallery {
    background-color: #fff3e6;
}

.gallery p {
    color: #000000;
    font-size: 40px;
    margin-left: 50px;
}

.gallery-section {
    display: flex;
    justify-content: space-between; /* Равномерное распределение изображений */
    align-items: center;
    width: 100%;
    height: 40vh; /* Задаем высоту блока 30% от высоты экрана */
}

/* Каждый элемент изображения */
.image-item {
    text-align: center; /* Центрирование подписи под картинкой */
    flex: 1; /* Равное распределение ширины между картинками */
    margin: 0 5px; /* Небольшой отступ между картинками */
}

/* Изображение фиксированного размера */
.image-item img {
    width: 80%; /* Устанавливает ширину изображения на весь элемент */
    height: 300px; /* Фиксированная высота */
    object-fit: cover; /* Обрезка изображения для сохранения пропорций */
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Подпись */
.image-item p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #333;
}

.all_catalog {
    display: block;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.all_catalog::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Расположение линии под текстом */
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0); /* Цвет линии */
}


.top_gallery {
    display: flex;
    justify-content: space-between; /* Разделяет элементы: один влево, другой вправо */
    align-items: center; /* Центрирует элементы по вертикали */
}

.all_catalog:hover {
    color: #b0815d; /* Цвет ссылки при наведении */
}

footer a {
    text-decoration: none;
    color: #fff3e6;
}

footer a:hover {
    color: #b0815d;
}

/* Уведомление */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 1.2em;
}

/* Корзина */
.cart {
    position: fixed;
    top: 10%;
    right: 10%;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.cart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart li {
    margin: 10px 0;
    font-size: 1em;
}

#checkout-button,
#close-cart-button {
    background-color: #db8b6a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#checkout-button:hover:not(:disabled),
#close-cart-button:hover {
    background-color: #c27b5a;
}

/* Анимация для уведомления */
@keyframes fadeInOut {
    0% { opacity: 0; }
    10%, 90% { opacity: 1; }
    100% { opacity: 0; }
}

.notification {
    animation: fadeInOut 3s ease-in-out;
}


/* Адаптивность для мобильных */
@media (max-width: 768px) {
    .gallery-section {
        flex-direction: column;
        height: auto; /* Высота на мобильных устройствах подстраивается */
    }

    .image-item {
        margin-bottom: 15px;
    }

    .image-item img {
        max-height: 50%; /* Уменьшение изображения на мобильных */
    }
}


/* Адаптивные стили */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    .brand {
        font-size: 2em;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        font-size: 1.2em; /* Уменьшение размера шрифта меню */
    }

    .menu li {
        margin: 5px 0;
    }

    .call-to-action {
        margin-top: 30vh; /* Уменьшаем отступ сверху на планшетах */
        padding: 0 20px; /* Добавляем отступы */
    }

    .text-center {
        font-size: 4em; /* Уменьшаем размер шрифта для мобильных */
    }

    .order-link {
        font-size: 2.5em; /* Уменьшаем размер шрифта для кнопки */
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    .menu {
        padding: 0;
        font-size: 1.2em; /* Уменьшаем размер шрифта меню на мобильных */
    }

    .menu li {
        margin: 10px 0;
    }

    .brand {
        font-size: 1.8em; /* Уменьшаем размер шрифта для мобильных */
    }

    .call-to-action {
        margin-top: 20vh; /* Уменьшаем отступ сверху на мобильных */
    }

    .text-center {
        font-size: 3em; /* Уменьшаем размер текста */
    }

    .order-link {
        font-size: 2em; /* Уменьшаем размер текста кнопки */
    }

    footer {
        padding: 10px;
    }
}
